* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Palatino Linotype', arial;
	font-size: 14px;
	background: #f7f7f7;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.container {
	width: 700px;
	height: auto;
	margin: 40px auto;
	background: #f5eddf;
	padding: 20px;
	border: 1px solid #e8daa2;
}

.container h1 {
	font-size: 24px;
	margin-bottom: 10px;
}

table {
	width: 100%;
	text-align: center;
	border: 2px solid #d8c785;	
	border-collapse: collapse;
}

table tr td {
	border: 2px solid #d8c785;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}

table tr td:nth-of-type(1) {
	width: 40%;
}

table tr td input[type="text"],
table tr td input[type="password"],
table tr td input[type="email"],
table tr td select,
table tr td textarea {
	font-family: 'Palatino Linotype', arial;
	font-size: 14px;
	width: -webkit-calc(100% - 2px);
	width: calc(100% - 2px);
	border: 1px solid #d8c785;
	line-height: normal;
	outline: none;
}

table tr td input[type="text"],
table tr td input[type="password"],
table tr td input[type="email"],
table tr td select {
	height: 28px;
}

table tr td textarea {
	height: 120px;
}

table tr td input[type="submit"] {
	font-family: 'Palatino Linotype', arial;
	background: #404040;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
}